<div class="spaced" data-testid="filtering">
  <input type="text" [(ngModel)]="filterInput" name="filter-input" (keyup)="onFilter()"
    [placeholder]="filterPlaceholder" />
  <jesi-button secondary (click)="reset()">clear</jesi-button>
</div>

<section *ngIf="characters$ | async as characters; else loading" data-testid="display-characters">
  <jesi-character-thumbnail *ngFor="let character of characters" [character]="character"
    [isFavorite]="character.id === favoriteCharacterId" (chose)="onSelectCharacter($event)">
  </jesi-character-thumbnail>
</section>

<ng-template #loading>
  <jesi-loader center></jesi-loader>
</ng-template>
