<div data-testid="back-button" class="padded">
  <jesi-button  routerLink="/houses">🡄 Back to houses</jesi-button>
</div>

<main class="padded spaced"*ngIf="house$ | async as house;">
  <aside>
    <img [src]="house.imagePath" [alt]="house.coatOfArms"/>
  </aside>
  <div>
    <h2>
      {{house.name}}
    </h2>
    <h3>
      {{house.region}}  -  {{house.seat}}
    </h3>
    <dl>
      <dt>Words</dt>
      <dd>
        {{house.words}}
      </dd>
      <dt>Coat of arms</dt>
      <dd>
        {{house.coatOfArms}}
      </dd>
    </dl>
  </div>
</main>

<section  *ngIf="characters$ | async as characters; else loading" data-testid="display-characters">
  <!-- CHARACTERS GO HERE -->
<jesi-character-card *ngFor="let character of characters" [character]="character">
</jesi-character-card>
</section>
<ng-template #loading>
  <jesi-loader center></jesi-loader>
</ng-template>
