<div data-testid="back-button" class="padded">
  <jesi-button>🡄 Back to houses</jesi-button>
</div>

<main class="padded spaced">
  <aside>
    <img />
  </aside>
  <div>
    <h2>
      <!-- HOUSE NAME -->
    </h2>
    <h3>
      <!-- HOUSE REGION - HOUSE SEAT -->
    </h3>
    <dl>
      <dt>Words</dt>
      <dd>
        <!-- HOUSE WORDS -->
      </dd>
      <dt>Coat of arms</dt>
      <dd>
        <!-- HOUSE COAT OF ARMS -->
      </dd>
    </dl>
  </div>
</main>

<section>
  <!-- CHARACTERS GO HERE -->
</section>
